:root {
  --animate-duration: 2s;
  --animate-delay: 0.9s;
}

* {
  font-family: 'Nerko One', cursive;
}
body {
  margin: 5px;
}

header {
  position: fixed;
}

header .text-logo {
  margin:0;
}

.logo {
  height: 100px;
}

main {
  background: #FCD0A1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  min-height: calc(100vh - 33px);
}

main#custom-domains-main {
  height: calc(100vh - 33px);
  width: 100%;
  align-items: center;
  padding-top: 0;
}

main .container {
  width: 100%;
  text-align:center;
  padding: 0 15px;
}

main#custom-domains-main .container {
  width: fit-content;
}

h1 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 2px #000;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="url"] {
  padding: 7px 15px;
  border-radius: 5px;
  background: transparent;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 100%;
  border: solid 2px #000;
}

section {
  display: none;
}

section.active {
  display: block;
}

.text-icon {
  background: #fff;
  padding: 5px;
  width: 15px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  border-radius: 50%;
}

.dashed-underline {
  border-bottom: 2px #000 dashed;
}

.select-provider-holder {
  display: flex;
  height: 300px;
}

.select-provider-holder div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

#selectPaystack {
  background-color: #f9ebd7;
}

#selectFlutterwave {
    background-color: #e8cdac;
}

@media (max-width: 425px) {
  .select-provider-holder {
    flex-direction: column;
    height: auto;
  }
  .select-provider-holder div {
    width: 100%;
  }
}