:root {
  --animate-duration: 2s;
  --animate-delay: 0.9s;
}

* {
  font-family: 'Nerko One', cursive;
}
body {
  margin: 5px;
}

header {
  position: fixed;
}

header .text-logo {
  margin:0;
}

.logo {
  height: 100px;
}

main {
  height: calc(100vh - 33px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FCD0A1;
  border-radius: 15px;
}

main > .container {
  width: fit-content;
  text-align:center;
  padding: 0 15px;
}

h1 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primary {
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 2px #000;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="url"] {
  padding: 7px 15px;
  border-radius: 5px;
  background: transparent;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 100%;
  border: solid 2px #000;
}

section {
  display: none;
}

section.active {
  display: block;
}

.text-icon {
  background: #fff;
  padding: 5px;
  width: 15px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  border-radius: 50%;
}

.dashed-underline {
  border-bottom: 2px #000 dashed;
}